*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: wheat;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
header {
    display: block;
    text-align: center;
    background-color: salmon;
    padding: 15px;
}
.input{
    text-align: center;
}
input[type="text"] {
    height: 50px;
    width: 600px;

}
