*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
}

body {
    background-color: wheat;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 100%;
    width: 100%;

}
header {
    display: block;
    text-align: center;
    background-color: salmon;
    padding: 15px;
}
.input{
    display: block;
    width: 25%;
    height: 100%;
    flex-direction: row;
    
    margin: 5px
}
.search{
    height: 25%;
    width: 100%;
    border: 3px solid black;
}
#citySearch{
    font-size: 20px;
}
.user-input{
    width: 90%;
    padding: 5px;
    margin: 10px;

}
.button{
    width: 90%;
    padding: 5px;
    margin: 10px;
    background-color: lightgreen;
}
.history {
    display: block;
    flex-direction: row;
    height: 65%;
}

/* the section that will display the current weather for x city  */
/* and the 5 day forcast */
.main-display{
   flex-direction: row;
   width: 75%;
   height:100%;
    background-color: wheat;
    flex-direction: row;

    margin: 5px;
 
}
.currentDay{
    border: 3px solid black;
    height: 40%;
    width: 100%;
    padding: 5px;
    margin-top: 0px;
 


}
/* each individual text will get a block  */
/* .name{
    
}
.date{
    
}
.temp{
    display: block;
}
.humidity{
    display: block;
}
.UVindex{
    display: block;
} */
/* .forecast{
    display: flex;
    flex-direction: row;
} */
.flex-container{
    display: flex;
    padding: 0;
    margin: 0;
    height: 100%;
}

