*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
}

body {
    background-color: wheat;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 100%;
    width: 100%;

}
header {
    display: block;
    text-align: center;
    background-color: salmon;
    padding: 15px;
}
.input{
    display: flex;
    width: 25%;
    height: 100%;
    flex-direction: column
}
.search{
    height: 35%;
}
#citySearch{
    font-size: 20px;
}
.user-input{
    width: 90%;
    padding: 5px;
    margin: 10px;
}
.button{
    width: 90%;
    padding: 5px;
    margin: 10px;
    background-color: lightgreen;

}
/* the section that will display the current weather for x city  */
/* and the 5 day forcast */
.display{
    display: flex;
   width: 75%;
   height: 100%;
    background-color: aqua;
    flex-direction: row;

}
.flex-container{
    display: flex;
    
    padding: 0;
    margin: 0;
    height: 100%;
}

